*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
    
}

.top-bar {
    background-color: lightblue;
    color: black;
    padding: 10px 0;
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-info span {
    margin: 0 10px;
}

.navbar {
    background-color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 20px;
}

.navbar .logo img {
    height: 80px;
    
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navbar li {
    margin-left: 20px;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar li a:hover {
    
    color: blue;

}
.nav-links ul li a.active {
    color:navy !important; /* Change this to the desired color */
    font-weight: bold !important; /* Optional: Make the active link bold */
    border-bottom: 2px solid blue !important; /* Optional: Add a bottom border */
}


.consultancy-button {
    background-color: blue;
    color: white !important ;/* Change this to the desired color */
    border-radius: 25px;
    padding: 10px 20px;
}

.consultancy-button:hover {
    background-color:navy;
    color: white;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    align-self:flex-end;
}

.hamburger .bar {
    width: 35px;
    height: 5px;
    background-color:lightblue;
    margin: 4px 0;
    
    
}

.hero-section {
    background-image: url('images/home/heroimg.jpg'); 
    background-size: cover;
    background-position: center;
    height: 400px; /* Adjust the height as needed */
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-text {
    background: rgba(142, 245, 113, 0.5);
   /* background:rgb(104, 246, 104); *//* Optional: Add a semi-transparent background for better text readability */
    padding: 20px;
    border-radius: 15px;
}

.split-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 45px;
}

.left-side {
    flex: 1;
    padding: 20px;
}

.left-side img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 45px;
}

.right-side {
    flex: 1;
    padding: 20px;
    line-height: 1.6;
    text-align: justify;
}

.background-section {
    background-image: url('images/home/picture2.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    position: relative;
    color:black;
    text-align: left; /* Left-align the text */
    font-weight: bold;
    margin-top: 45px;
}

.background-content {
    max-width: 600px;
    margin-right: auto; /* Align content to the left */
    /*background: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background for better text readability */
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    line-height: 1.6;
    text-align: left;
    margin-left: 20px;
}

.contact-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 25px;
    font-weight: bold;
}

.contact-button:hover {
    background-color: blue;
    font-size: large;
}
.about-us-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 35px;
}

.about-us-left {
    flex: 1;
    padding: 20px;
}

.about-us-left img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 55px;
    
}

.about-us-right {
    flex: 1;
    padding: 20px;
    line-height: 1.6; /* Adjust the line height as needed */
    margin-top: 1px;
}

.read-more-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 25px;
    font-weight: bold;
}

.customer-reviews-section {
    background:lightcyan ;/* Teal gradient background */
    color: black;
    padding: 40px 20px;
    text-align: center;
}

.reviews-slider {
    display: flex;
    /*overflow: hidden;*/
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.review {
    text-align: center;
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
    background-color: white; /* White background for each review */
    color: black; /* Black text color for better readability */
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* Optional: Add a shadow for better visual separation */
    margin: 10px;
    margin-right: 85px;;
    position: relative; /* Position reviews absolutely within the slider */
    line-height: 1.6;
   /* top: 0;*/
   /* left: 100%; *//* Start off-screen to the right */
}

/*.review.active {*/
   /* left: 0; *//* Move the active review into view */
/*}*/

.review p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.review span {
    font-style: italic;
}


.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 20px;
    background-color:lightblue ;
    margin-top: 45px;
    
}

.contact-left, .contact-right {
    flex: 1;
    padding: 20px;
    margin-left: 10%;
}

.contact-left h2, .contact-right h2 {
    margin-bottom: 20px;
}

.contact-left p, .contact-right ul {
    margin: 0;
    padding: 0;
}

.contact-left p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.contact-right ul {
    list-style-type: none;
}

.contact-right ul li {
    margin-bottom: 10px;
}

.contact-right ul li a {
    color:  #3b5998;
    text-decoration: none;
    font-weight: bold;
}

.contact-right ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color:lightcyan;
    color: black;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin: 0;
    margin-bottom: 10px;
}
.footer-content span{
    font-weight: bold;
}

.social-media-links {
    display: flex;
    gap: 10px;
}

.social-media-links a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white; /* White background for the icon */
    color: blue; /* Facebook blue color */
    border: 2px solid blue; /* Border color */
}

.social-media-links a:hover {
    background-color:blue; /* Facebook blue color on hover */
    color: white; /* White icon color on hover */
}
.fa-phone {
    color:blue;
    margin-right: 5px;
}
.fa-map-marker-alt{
    color: blue;
    margin-right: 5px;

}
.fa-envelope{
    color:blue;
    margin-right: 5px;

}
.fa-clock{
    color: blue;
    margin-right: 5px;

}

/*about page*/

/* Banner Image Styling */
.about-banner {
    background-image: url('images/about/about.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 400px; /* Adjust the height as needed */
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
}

.about-text {
    background: rgba(142, 245, 113, 0.5);
    background-size: cover;
   /* background:rgb(104, 246, 104); *//* Optional: Add a semi-transparent background for better text readability */
    padding: 90px;
    border-radius: 15px;
    width: 199%;
}
#about{
    background-color: lightcyan;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
}

.vision-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 45px;
    background-color: white;
}

.vision-img{
    flex: 1;
    padding: 10px;
    
}

.vision-img img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.vision-text {
    flex: 1;
    padding: 20px;
    line-height: 1.6;
    text-align: left;
    
    margin-top: 65px;;
    margin-left: 15%;
}
.vision-text h2{
    font-weight: bold;
}


.mission-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 45px;
    background-color:lightcyan;
}

.mission-img{
    flex: 1;
    padding: 10px;
    
}

.mission-img img {
    width: 60%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 25%;
}

.mission-text {
    flex: 1;
    padding: 10px;
    line-height: 1.6;
    text-align: left;
    
    margin-top: 65px;;
    margin-left: 5%;
}
.mission-text h2{
    font-weight: bold;
}

/*services banner*/

.services-banner {
    background-image: url('images/services/services-banner.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 400px; /* Adjust the height as needed */
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
}

.services-text {
    background: rgba(142, 245, 113, 0.5);
    background-size: cover;
   /* background:rgb(104, 246, 104); *//* Optional: Add a semi-transparent background for better text readability */
    padding: 90px;
    border-radius: 15px;
    width: 199%;
}

.image-text-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color:white;
    margin-top: 45px;
    margin-left: 15%;
    margin-right: 15%;
}

.image-text-section .box {
    width: 30%;
    margin-bottom: 40px;
    text-align: center;
    background-color:white;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    border-radius: 25px;
    
}

.image-text-section .box .border-top {
    
    margin-bottom: 10px;
}

.image-text-section .box img {
    max-width: 95%;
    height: 40%;
    border: #333;
    border-radius: 13px;
}

.image-text-section .box p {
    margin-top: 30px;
    font-size: 14px;
    color: #333;
    text-align: left;
    line-height: 1.6;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.image-text-section .box p span{
    font-size: 16px;
    font-weight: bold;
}
/*outcomes page */

.outcomes-banner {
    background-image: url('images/outcomes/outcomes-banner1.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 400px; /* Adjust the height as needed */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
    font-weight: bold;
    margin-top: 20px; /* Adjust the margin as needed */
}

.outcomes-text {
        background: rgba(142, 245, 113, 0.5);
    background-size: cover;
   /* background:rgb(104, 246, 104); *//* Optional: Add a semi-transparent background for better text readability */
    padding: 90px;
    border-radius: 15px;
    width: 199%;
}

.outcomes-text h1 {
    font-size: 3em; /* Adjust the font size as needed */
    margin: 0;
}

.outcomes-text p {
    font-size: 1.2em; /* Adjust the font size as needed */
    margin: 10px 0 0;
}

.outcomes-content {
    text-align: center;
    padding: 40px 20px;
    background-color:white; /* Light background color */
}

.outcomes-content h2 {
    font-size: 2.5em; /* Adjust the font size as needed */
    margin-bottom: 20px;
}

.outcomes-content p {
    font-size: 1em; /* Adjust the font size as needed */
    max-width: 800px;
     margin: 0 auto;

    line-height: 1.6;
}


/* contact us page*/
.contact-banner {
    background-image: url('images/contact/contact-banner.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 400px; /* Adjust the height as needed */
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
}

.contact-text {
    background: rgba(142, 245, 113, 0.5);
    background-size: cover;
   /* background:rgb(104, 246, 104); *//* Optional: Add a semi-transparent background for better text readability */
    padding: 90px;
    border-radius: 15px;
    width: 199%;
}

.contact-form-section {
    background-color:white;
    padding: 40px 20px;
    margin-top: 45px;
    text-align: center;
    border: 1px solid lightblue;
    border-radius: 20px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
 
    margin-top: 45px;
    margin-left: 25%;
    margin-right: 25%;
}



.contact-form-section form {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.contact-form-section label {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: right;
    
}

.contact-form-section input,
.contact-form-section textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid lightblue;
    border-radius: 15px;
    
}

.contact-form-section .submit-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    align-items: center;
    margin-left: 45%;
    margin-right: 45%;
}

.contact-form-section .submit-button:hover {
    background-color: navy;
}

.map-section {
    padding: 40px 20px;
    background-color: lightblue;
    text-align: center;
    margin-top: 45px;
}

.map-section h2 {
    margin-bottom: 20px;
}


/* Media Queries for Responsive Design */

/* For tablets and smaller devices */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
        margin-right: 20px;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .navbar li {
        margin-left: 0;
        width: 100%;
    }

    .navbar li a {
        padding: 10px;
        text-align: left;
    }

    .navbar .logo img {
        height: 60px;
    }
    .hamburger {
        display: flex; /* Show the hamburger menu */
        align-items: flex-end;
    }
    .hero-section {
        height: 300px; /* Adjust the height as needed */
    }

    .split-section, .about-us-section {
        margin-left: 5%;
        margin-right: 5%;
    }

    .left-side, .right-side, .about-us-left, .about-us-right {
        flex: 1 1 100%;
        padding: 10px;
    }

    .background-content {
        margin-left: 10px;
        margin-right: 10px;
    }
    .customer-reviews-section {
    padding: 30px 15px;
    }
    .reviews-slider {
    max-width: 100%;
   }

.review {
    padding: 15px;
    margin-right: 20px;
}

.review p {
    font-size: 1em;
}

.contact-section {
    flex-direction: column;
    padding: 30px 15px;
}

.contact-left, .contact-right {
    margin-left: 0;
    padding: 15px;
}

.contact-left h2, .contact-right h2 {
    margin-bottom: 15px;
}

.contact-left p {
    margin-bottom: 8px;
}

.contact-right ul li {
    margin-bottom: 8px;
}
.footer-content {
    flex-direction: column;
    align-items: center;
}

.social-media-links {
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.social-media-links a {
    width: 35px;
    height: 35px;
    font-size: 1.2em;
}

.about-banner {
    height: 300px; /* Adjust the height as needed */
}

.about-text {
    padding: 60px;
    width: 100%;
}

.vision-section, .mission-section {
    flex-direction: column;
    padding: 15px;
}

.vision-img img, .mission-img img {
    width: 100%;
    margin-left: 0;
}

.vision-text, .mission-text {
    margin-top: 20px;
    margin-left: 0;
    padding: 10px;
}
.services-banner {
    height: 300px; /* Adjust the height as needed */
}

.services-text {
    padding: 60px;
    width: 100%;
}

.image-text-section {
    margin-left: 5%;
    margin-right: 5%;
}

.image-text-section .box {
    width: 100%;
}

.image-text-section .box img {
    max-width: 77%;
}
.outcomes-banner {
    height: 300px; /* Adjust the height as needed */
}

.outcomes-text {
    padding: 60px;
    width: 100%;
}

.outcomes-text h1 {
    font-size: 2.5em; /* Adjust the font size as needed */
}

.outcomes-text p {
    font-size: 1em; /* Adjust the font size as needed */
}

.outcomes-content {
    padding: 30px 15px;
}

.outcomes-content h2 {
    font-size: 2em; /* Adjust the font size as needed */
}

.outcomes-content p {
    font-size: 0.9em; /* Adjust the font size as needed */
}
.contact-banner {
    height: 300px; /* Adjust the height as needed */
}

.contact-text {
    padding: 60px;
    width: 100%;
}

.contact-form-section {
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px 15px;
}

.contact-form-section input,
.contact-form-section textarea {
    width: 100%;
}

.contact-form-section .submit-button {
    margin-left: auto;
    margin-right: auto;
}

.map-section {
    padding: 30px 15px;
}
}



/* For mobile devices */
@media (max-width: 480px) {
    .navbar {
        padding: 0 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar .logo img {
        height: 50px;
    }

    .consultancy-button{
        display: none;
    }

    .hero-section {
        height: 200px; /* Adjust the height as needed */
    }

    .split-section, .about-us-section {
        margin-left: 2%;
        margin-right: 2%;
    }

    .left-side img, .about-us-left img {
        margin-top: 20px;
    }

    .contact-button {
        padding: 10px 20px;
    }

    .read-more-button {
        padding: 8px 16px;
    }

    .background-content {
        margin-left: 5px;
        margin-right: 5px;
    }

    .customer-reviews-section {
        padding: 20px 10px;
    }

    .reviews-slider {
        max-width: 100%;
    }

    .review {
        padding: 10px;
        margin-right: 10px;
    }

    .review p {
        font-size: 0.9em;
    }
    .contact-section {
        padding: 20px 10px;
    }

    .contact-left, .contact-right {
        padding: 10px;
    }

    .contact-left h2, .contact-right h2 {
        margin-bottom: 10px;
    }

    .contact-left p {
        margin-bottom: 5px;
    }

    .contact-right ul li {
        margin-bottom: 5px;
    }
    .footer-content {
        padding: 10px;
    }

    .social-media-links {
        flex-direction: row;
        justify-content: center;
        gap: 5px;
    }

    .social-media-links a {
        width: 30px;
        height: 30px;
        font-size: 1em;
    }

    .footer-content p {
        margin-bottom: 5px;
    }

    .about-banner {
        height: 200px; /* Adjust the height as needed */
    }

    .about-text {
        padding: 30px;
        width: 100%;
    }

    .vision-section, .mission-section {
        padding: 10px;
    }

    .vision-img img, .mission-img img {
        width: 100%;
        margin-left: 0;
    }

    .vision-text, .mission-text {
        margin-top: 10px;
        margin-left: 0;
        padding: 5px;
    }
    .services-banner {
        height: 200px; /* Adjust the height as needed */
    }

    .services-text {
        padding: 30px;
        width: 100%;
    }

    .image-text-section {
        margin-left: 2%;
        margin-right: 2%;
        flex-direction:column; /* Stack boxes vertically */
        align-items: center; /* Center align the boxes */
    }

    .image-text-section .box {
        width: 100% !important; /* Make each box take up the full width */
        margin-bottom: 20px; /* Add some space between boxes */
    }

    .image-text-section .box img {
        max-width: 100%;
    }

    .image-text-section .box p {
        margin-top: 20px;
        font-size: 12px;
    }

    .image-text-section .box p span {
        font-size: 14px;
    }
    .outcomes-banner {
        height: 200px; /* Adjust the height as needed */
    }

    .outcomes-text {
        padding: 30px;
        width: 100%;
    }

    .outcomes-text h1 {
        font-size: 2em; /* Adjust the font size as needed */
    }

    .outcomes-text p {
        font-size: 0.9em; /* Adjust the font size as needed */
    }

    .outcomes-content {
        padding: 20px 10px;
    }

    .outcomes-content h2 {
        font-size: 1.5em; /* Adjust the font size as needed */
    }

    .outcomes-content p {
        font-size: 0.8em; /* Adjust the font size as needed */
    }
    .contact-banner {
        height: 200px; /* Adjust the height as needed */
    }

    .contact-text {
        padding: 30px;
        width: 100%;
    }

    .contact-form-section {
        margin-left: 5%;
        margin-right: 5%;
        padding: 20px 10px;
    }

    .contact-form-section input,
    .contact-form-section textarea {
        width: 100%;
    }

    .contact-form-section .submit-button {
        margin-left: auto;
        margin-right: auto;
    }

    .map-section {
        padding: 20px 10px;
    }
}

.nav-links.active {
    display: flex;
    
}